<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- React SPA routes -->
        <rule name="React SPA Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <!-- <add input="{REQUEST_URI}" pattern="^http://84.16.235.111:2140/api/" negate="true" /> -->
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>                                                                                          

        <!-- API Reverse Proxy -->
        <rule name="API Reverse Proxy" stopProcessing="true">
          <match url="^api/(.*)" />
          <!-- <action type="Rewrite" url="http://192.168.100.1:2091http://84.16.235.111:2140/api/{R:1}" logRewrittenUrl="true" /> -->
        </rule>
      </rules>
    </rewrite>

    <proxy enabled="true" preserveHostHeader="false" reverseRewriteHostInResponseHeaders="false" />
  </system.webServer>
</configuration>
